html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #acc4cf;
}

.page {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 50px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    border: 1px solid #e6f0fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    min-height: 600px;
    max-height: 800px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.logo {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.card p {
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: block;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.password-wrapper {
    width: 100%;
    position: relative;
    display: block;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.form-group input::placeholder {
    color: #999;
    font-size: 14px;
    opacity: 1;
}

.form-group input:focus {
    outline: none;
    border-color: #479AC7;
    box-shadow: 0 0 5px rgba(71, 154, 199, 0.5);
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #479AC7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #336699;
}
.register-container span {
    font-size: 14px;
    color: #000;
}
.register-link {
    display: inline;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.terms {
    margin-top: 15px;
    font-size: 11px;
    color: #666;
    text-align: center;
}

.terms a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 5px;
}

.terms a:hover {
    text-decoration: underline;
}